<meta charset="UTF-8">
<title>Bonjour</title>
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<link rel="stylesheet" href="assets/css/style.css">
<link rel="shortcut icon" href="public/favicon.ico">
<meta property="og:title" content="Bonjour"></meta>
<meta property="og:description" content="Bonjour! 一起聊天吧!"></meta>
<meta property="og:url" content="網址"></meta>
<meta property="og:image" content="public/metapic.jpg"></meta>


