<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

	<!-- <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
  //       var config = {
  //   		apiKey: "AIzaSyByKsrnp_Cpvf5A_HgireonTXolgCcwsKk",
  //   		authDomain: "bonjour-61159.firebaseapp.com",
  //   		databaseURL: "https://bonjour-61159.firebaseio.com",
  //   		storageBucket: "bonjour-61159.appspot.com",
  //   		messagingSenderId: "136270025924"
  // 		};
		// firebase.initializeApp(config);
		// // 建立 DB
		// var database = firebase.database();
		// function addBoard(boardId,boardname,member,message){
		// 	database.ref('board/'+boardId).push({
		// 		boardname:boardname,
		// 		member:member,
		// 		message:message
		// 	});
		// }
		
	</script>
</head>
<body class="indexbg">
	<div id="wrap">
	<header>
		<form id="logout_form" action="/logout" method="post">	
			<button id="logout_btn">登出</button></br>
		</form>
		<div class="clear"></div>
		<h1>Bonjour</h1>
	</header>
	<div class="board">
		<ul class="boardli">
			<li><a href="/chat" id="boardred"><img src="../../board_gossip.png" alt=""><h3>八卦版</h3></a></li>
			<li><a href="#"><img src="../../board_sport.png" alt=""><h3>運動版</h3></a></li>
			<li><a href="#" id="boardblue"><img src="../../board_news.png" alt=""><h3>新聞版</h3></a></li>
			<li><a href="#"><img src="../../board_fashion.png" alt=""><h3>時尚版</h3></a></li>
			<li><a href="#"><img src="../../board_music.png" alt=""><h3>音樂版</h3></a></li>
			<li><a href="#" id="boardblue"><img src="../../board_game.png" alt=""><h3>遊戲版</h3></a></li>
			<li><a href="#"><img src="../../board_movie.png" alt=""><h3>電影版</h3></a></li>
			<li><a href="#" id="boardyellow"><img src="../../board_travel.png" alt=""><h3>旅遊版</h3></a></li>
		</ul>
	</div>
		
	</div>
</body>
    
</body>
</html>