<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/head %>
	
</head>
<body>
	<div class="wrap">
		<header><h1>Bonjour</h1></header>
		<main>
			<h2>Login</h2>
			<form action="">
				<input class="input" type="text" placeholder="User ID" name="id"></br>
				<input class="input" type="password" placeholder="Password" name="pw"></br>
				<button>登入</button></br>
				<span class="logon"><a href="logon">註冊新ID</a></span>
			</form>
		</main>
    </div>
    <footer>
	        <% include ../partials/footer %>
	    </footer>
</body>
</html>