<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/head %>	

</head>
<body>
	<div class="wrap">
		<header><h1>Bonjour</h1></header>
		<main>
			<h2>Logon</h2>
			<p class="note"><%= tagline %></p>
			<form action="/logonform" method="post">
				<input class="input" type="text" placeholder="User ID" id="id" name="id"></br>
				<input class="input" type="password" placeholder="Password" id="pw" name="pw"></br>
				<button>註冊</button></br>
			</form>
				
			<span class="logon" id="logon"><a href="/login">返回豋入頁</a></span>
		</main>
    </div>
    <footer>
	        <% include ../partials/footer %>
	    </footer>
</body>
</html>