<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
	* { margin: 0; padding: 0; box-sizing: border-box; }
      body { 
      	font: 14px 微軟正黑體, Calibri;
		background: #DCDCDC;
      }
      #user{
      	background: rgba(0%,0%,0%,0.8);
      	width:20%;
      	position: absolute;
        top:0;
        bottom: 0;
        overflow:auto;
      }
      #user_header{
      	width: 100%;
      	position: absolute;
        top:0;
      	border-bottom: solid 2px #eee;
      }
      #user h2{
      	float:left;
		color:white;
		padding: 10px;
      }
      #user a{
      	background: #dc143c;
      	color:white;
		float:right;
		padding: 5px;
		text-decoration: none;
		border-radius: 2px;
		margin: 10px;
		font-weight: bold;
      }
      #clear{
      	clear: both;
      }
      #user_name li { 
      	margin-top: 60px;
        padding: 5px 10px; 
        color:#eee;
      }
      #user_name li:nth-child(odd) { 
        border-bottom: solid 2px rgba(100%,100%,100%,0.5);
      }
      #m{ 
        border: 2px solid black;
        background: #DCDCDC; 
        border-radius:5px;
        padding: 10px; 
        width: 70%; 
        margin-right: .5%;
        margin-top: .5%;
        margin-bottom: .5%;
        margin-left: 20.5%; 
        position: fixed; 
        bottom: 0;
      }
      #send{ 
        width: 8%; 
        margin: .5%; 
        background: #dc143c;
        color:white; 
        border-radius:10px;
        padding: 10px; 
        position: fixed; 
        bottom: 0;
        right:5px;
        font-weight:bold;
      }
      #message_block{
        width:80%;
        position: absolute;
        top:0;
        bottom:5%;
        margin-bottom:20px;
        margin-left:20%; 
        border-bottom: solid 2px #eee; 
        overflow:auto;
      }
      #messages { 
        list-style-type: none; 
        margin: 10px; 
        padding: 0; 
      }
      #messages li { 
        padding: 5px 10px; 
        font-size:16pt;
      }
      #messages li:nth-child(odd) { 
        background: #eee; 
        border-radius:5px;
      }
</style>
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	var config = {
    		apiKey: "AIzaSyByKsrnp_Cpvf5A_HgireonTXolgCcwsKk",
    		authDomain: "bonjour-61159.firebaseapp.com",
    		databaseURL: "https://bonjour-61159.firebaseio.com",
    		storageBucket: "bonjour-61159.appspot.com",
    		messagingSenderId: "136270025924"
  	};
	firebase.initializeApp(config);
	// 建立 DB
	var database = firebase.database();
	function addBoardMember(userId){
		database.ref('board/movie/member/'+userId).push({
			username:username
		});
	}
	function addMessage(senderName,text){
		database.ref('board/movie/message/').push({
			// senderId:senderId,
			senderName:senderName,
			text:text
		});
	}
	function display_msg(id, name, msg){
        $('#messages').append($('<li>').text(name+" : "+msg));
        var message = document.getElementById("message_block");
        message.scrollTop = message.scrollHeight;
    }
	database.ref('board/movie/message/').once('value').then(function(snapshot) {
            var message = snapshot.val();
            $('#messages').empty();
            $.each(snapshot.val(),function(k,v){
                display_msg(k,v.senderName, v.text);
            });
    });
	var socket = io();
      $(document).ready(function(){
        var name = prompt("請輸入你的名字","訪客");
        if(name=="" || name==null){
          name = "訪客";
        }
        //tell server
        socket.emit("add user",name);
        //監聽新訊息事件
        socket.on('chat message', function(data){
          appendMessage(data.username+" : "+data.msg);
          addMessage(data.username,data.msg);
        });
        socket.on('add user',function(data){
          appendUser(data.username+" 在線上");
        });
        socket.on('user left',function(data){
          appendUser(data.username+" 已離開");
        });
        $('#send').click(function(){
          var text = $('#m').val();
          socket.emit('chat message', text);
          $('#m').val('');
          return false;
        });
        $("#m").keydown(function(event){
          if ( event.which == 13 ){
            $('#send').click();
          }
        });
        function appendMessage(msg){
          $('#messages').append($('<li>').text(msg));
          var message = document.getElementById("message_block");
          message.scrollTop = message.scrollHeight;
        }
        function appendUser(user){
          $('#user_name').append($('<li>').text(user));
          var user = document.getElementById("user");
          user.scrollTop = user.scrollHeight;
        }
      });
</script>
</head>
<body>
	<div id="wrap">
		<div id ="user">
			<div id="user_header">
				<h2>電影版</h2>


				<a href="/index">HOME</a>


			</div>
			<div id="clear"></div>
			<ul id="user_name"></ul>
		</div>
    	<div id="message_block">
        	<ul id="messages"></ul>
    	</div>
        	<input id="m" placeholder="我想說..." autocomplete="off" /><button id="send">Send</button>
    </div>
    
</body>
    
</body>
</html>